<h3>Recipes for <%= @ingredient.name() %>:</h3>

<% if @ingredient.recipes().any?() %>
  <ul>
    <% @ingredient.recipes().each() do |recipe| %>
      <li><a href="/recipes/<%= recipe.id() %>"><%= recipe.name() %></a></li>
    <% end %>
  </ul>
<% end %>

<h3>Update <%=@ingredient.name() %> </h3>
<form action="/ingredients/<%= @ingredient.id() %>" method="post">
  <input name="_method" type="hidden" value="patch">
  <label for="new_name">New Name:</label>
  <input id="new_name" name="new_name" type="text">
  <button type="submit">Update</button>
</form>

<h3>Delete <%= @ingredient.name() %></h3>
<form action="/ingredients/<%= @ingredient.id() %>" method="post">
  <input name="_method" type="hidden" value="delete">
  <button type="submit">Delete Ingredient</button>
</form>

<a href="/">return home</a>
